In [1]:
import numpy as np
import pandas as pd

from joblib import dump, load

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import scipy.stats as stats

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [3]:
df_vehiculos = pd.read_csv('./MotorAlpes.csv', sep=',', encoding = 'utf-8', index_col=0)

In [4]:
df_vehiculos.shape

(791, 10)

In [5]:
df_vehiculos.sample(5)

,year,km_driven,owner,seller_type,seats,fuel,transmission,mileage,engine,max_power
1656,2014.0,200000.0,First Owner,Individual,5.0,Diesel,Manual,25.10,1498.0,98.6
1260,2015.0,84000.0,First Owner,Individual,5.0,Diesel,Manual,28.09,1248.0,88.5
6380,2014.0,50000.0,First Owner,Individual,5.0,Petrol,Manual,19.10,11067.0,85.8
2841,2015.0,72000.0,First Owner,Dealer,5.0,Diesel,Automatic,17.01,1582.0,126.2
301,2010.0,70000.0,First Owner,Individual,5.0,Petrol,Manual,17.00,1197.0,80.0