In [4]:
import numpy as np
import pandas as pd

from joblib import dump, load

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import scipy.stats as stats

In [5]:
df_vehiculos = pd.read_csv('./MotorAlpes.csv', sep=',', encoding = 'utf-8', index_col=0)

In [6]:
df_vehiculos.shape

(791, 10)

In [8]:
df_vehiculos.sample(5)

,year,km_driven,owner,seller_type,seats,fuel,transmission,mileage,engine,max_power
6670,2013.0,70000.0,Third Owner,Individual,8.0,Diesel,Manual,14.00,2523.0,75.00
2310,2009.0,80000.0,Second Owner,Individual,5.0,Petrol,Manual,20.36,1197.0,78.90
7486,2015.0,125000.0,First Owner,Individual,8.0,Diesel,Manual,21.04,1461.0,1901.96
2620,2015.0,30000.0,First Owner,Individual,5.0,Petrol,Manual,18.90,1197.0,82.00
7966,NaN,70000.0,NaN,Individual,7.0,Diesel,Manual,18.49,15132.0,100.00